################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Autherization/.vs/Autherization
/Autherization/obj
